{% load static %}
<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ header.title }}</title>
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/component_styles.css' %}" />
  </head>
  <body>
    <div class="site-wrapper">
      <header>
        <div class="container">
          <h1><a href="{% url 'home' %}">{{ header.title }}</a></h1>
          <nav>
            <ul>
              <li><a href="{% url 'home' %}">{{ navigation.home }}</a></li>
              <li><a href="{% url 'genres' %}">{{ navigation.explore }}</a></li>
              <li><a href="{% url 'about' %}">{{ navigation.about }}</a></li>
              <li><a href="{% url 'blog' %}">{{ navigation.blog }}</a></li>
            </ul>
          </nav>
        </div>
      </header>
