{% extends 'base/base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/page_styles/genre_detail.css' %}">
{% endblock %}

{% block content %}
<main class="genres-main">

  <div class="parent-genre-header">
    Exploring Genres Under: <strong>{{ genre.name }}</strong>
  </div>

  <div class="search-container">
    <input type="text" id="artist-search-input" class="artist-search-input" placeholder="Search artists...">
  </div>

  {% for genre_obj, artists in genre_artist_map.items %}
    <section class="genre-section">
      <div class="genre-header">
        <h2 class="genre-title">
          {{ genre_obj.name }}
        </h2>
      </div>
    
      <div class="artist-grid">
        {% for artist in artists %}
          <div class="artist-card">
            <a href="{% url 'artist_detail' artist.id %}">
              {% if artist.image_url %}
                <img src="{{ artist.image_url }}" alt="{{ artist.name }}" class="artist-image">
              {% endif %}
              <div class="artist-name">{{ artist.name }}</div>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endfor %}

</main>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/artist_search.js' %}"></script>
{% endblock %}
