{% extends "base/base.html" %}
{% load static %}

{% block title %}Home - Harmonist{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/page_styles/index.css' %}">
{% endblock %}

{% block content %}
<main class="home-main">
  <div class="hero">
    <h2 class="hero-title">Discover Music Differently</h2>
    <p class="hero-subtitle">
      Skip the algorithms. Follow the influence.
    </p>
    <a href="{% url 'genres' %}" class="hero-cta">Explore Now</a>
  </div>
</main>
{% endblock %}

